@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./fonts";
.iconBack {
    transform: rotate(90deg);
    margin: 10px;
    font-size: 3rem;
    color: gray;
    &:hover {
      color: blue;
      cursor: pointer;
    }
  }
